@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
:root {
  /* Primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --Dark-blue: hsl(198, 62%, 26%); /* photography text*/
  --Dark-moderate-cyan: hsl(168, 34%, 41%); /* footer*/
  /* Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
  width: 100%;
}

.container {
  padding: 0 1rem;
}

/**** Header ****/
#header-section {
  min-height: 100vh;
  background-image: url(/assets/mobile/image-header.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/** nav **/
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: relative;
  font-family: "Barlow", sans-serif;
}
.nav__logo {
  cursor: pointer;
}
/* nav links*/
.nav__links::before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  top: -25px;
  right: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent var(--White) transparent;
}
.nav__links {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  height: 50vh;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  color: var(--Grayish-blue);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;
}
.nav__link {
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav__link--contact {
  font-family: "Fraunces", serif;
  padding: 1.3rem 2rem;
  border-radius: 30px;
  background-color: var(--Yellow);
  color: var(--Very-dark-desaturated-blue);
  font-size: 1rem;
  font-weight: 900;
}
.nav__link--contact:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--White);
}
.nav__links.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
/** header content **/
.header__content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__content__h1 {
  font-size: 2rem;
  letter-spacing: 8px;
  text-align: center;
  color: var(--White);
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.header__content__arrow {
  position: relative;
  top: 7rem;
}

/**** SubSections ****/
#subsection--desktop {
  display: none;
}
#subsection,
#subsection--mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__img {
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.section__text {
  height: 60vh;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__text__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.section__text__h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  color: var(--Very-dark-desaturated-blue);
}
.section__text__p {
  color: var(--Dark-grayish-blue);
  font-family: "Barlow";
  line-height: 1.5;
  font-size: 1rem;
}
.section__text__link {
  text-decoration: none;
  cursor: pointer;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
  position: relative;
  margin: 2rem 0;
}
/**** Transform Section ****/
.transform__section__img {
  background-image: url(/assets/mobile/image-transform.jpg);
}
.transform__text__link::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 110%;
  background-color: var(--Yellow);
  bottom: -5px;
  left: -5px;
  border-radius: 20px;
  opacity: 0.3;
}
/**** Standout Section ****/
.standout__section__img {
  background-image: url(/assets/mobile/image-stand-out.jpg);
}
.standout__text__link::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 110%;
  background-color: var(--Soft-red);
  bottom: -5px;
  left: -5px;
  border-radius: 20px;
  opacity: 0.3;
}
.subsection__content {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
/**** Graphic Design Section ****/
.subsection__content--graphicDesign {
  background-image: url(/assets/mobile/image-graphic-design.jpg);
}
.section__text__h2--graphicDesign {
  color: var(--Dark-desaturated-cyan);
}
.section__text__p--graphicDesign {
  margin: 2rem 0 5rem 0;
  color: var(--Dark-desaturated-cyan);
  font-size: 1rem;
  font-weight: 600;
}
/**** Photography Section ****/
.subsection__content--photography {
  background-image: url(/assets/mobile/image-photography.jpg);
}
.section__text__h2--photography {
  color: var(--Dark-blue);
}
.section__text__p--photography {
  margin: 2rem 0 5rem 0;
  color: var(--Dark-blue);
  font-size: 1rem;
  font-weight: 600;
}
/**** Testimonials Section ****/
.testimonials__content {
  min-height: auto;
  width: 100%;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__h2 {
  margin-top: 2rem;
  color: var(--Grayish-blue);
  font-family: "Fraunces", sans-serif;
  font-size: 1rem;
  letter-spacing: 3px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
}
.testimonial__img {
  border-radius: 50%;
  scale: 0.5;
}
.testimonial__review {
  color: var(--Very-dark-grayish-blue);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding: 0 1.5rem;
}
.testimonial__author__info {
  margin-top: 2rem;
}
.testimonial__author {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 0.9rem;
  color: var(--Very-dark-desaturated-blue);
}
.testimonial__position {
  margin-top: 0.5rem;
  color: var(--Grayish-blue);
  font-family: "Barlow", serif;
  font-size: 0.8rem;
}
.testimonial:nth-last-child(1) {
  margin-bottom: 4rem;
}
/**** Gallery Section ****/
#subsection--gallery {
  height: 40vh;
}
.gallery__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}
.gallery__grid {
  background-position: center;
  background-size: cover;
}
.gallery__grid--milk {
  background-image: url(/assets/mobile/image-gallery-milkbottles.jpg);
}
.gallery__grid--orange {
  background-image: url(/assets/mobile/image-gallery-orange.jpg);
}
.gallery__grid--cone {
  background-image: url(/assets/mobile/image-gallery-cone.jpg);
}
.gallery__grid--sugar {
  background-image: url(/assets/mobile/image-gallery-sugar-cubes.jpg);
}
/**** Footer ****/
#footer {
  min-height: 40vh;
  background-color: var(--Dark-moderate-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: var(--Dark-desaturated-cyan);
  margin: 2rem 0 4rem 0;
}
.footer__link {
  list-style: none;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
}
.footer__link:hover {
  color: var(--White);
}
.footer__socials {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  cursor: pointer;
  color: var(--Dark-desaturated-cyan);
  font-size: 1.5rem;
}
.footer__social:hover {
  color: var(--White);
}

/**** Media Queries ****/
@media screen and (min-width: 375px) {
  /** header content **/
  .header__content__h1 {
    font-size: 2.5rem;
  }
  .header__content__arrow {
    top: 8rem;
    height: 150px;
  }
  /**** SubSections ****/
  .section__text__p {
    font-size: 1.2rem;
  }
  .section__text__link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 390px) {
  /** header content **/
  .nav__links {
    height: 40vh;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
  /**** Nav ****/
  .nav__logo {
    scale: 1.5;
    margin-left: 2rem;
  }
  .nav__menuIcon {
    display: none;
  }
  /* nav links*/
  .nav__links {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--Grayish-blue);
    opacity: 1;
    pointer-events: all;
    z-index: 1;
    transform: translateX(0);
  }
  .nav__links::before {
    display: none;
  }
  /* nav links*/
  .nav__link {
    margin: 0;
    font-size: 1.2rem;
    color: var(--White);
    margin-left: 2rem;
  }
  .nav__link--contact {
    font-family: "Fraunces", serif;
    padding: 1.3rem 2rem;
    background-color: var(--White);
    color: var(--Very-dark-desaturated-blue);
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 0;
  }
  /**** Header ****/
  #header-section {
    background-image: url(/assets/desktop/image-header.jpg);
  }
  /** header content **/
  .header__content__h1 {
    font-size: 3rem;
  }
  .header__content__arrow {
    height: 100px;
  }
  /**** SubSections ****/
  #subsection--mobile {
    display: none;
  }
  #subsection--desktop {
    display: flex;
    height: 70vh;
  }
  #subsection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
  }
  .subsection__mobile {
    display: none;
  }
  .section__img {
    width: 50%;
  }
  .section__text {
    height: auto;
    align-items: flex-start;
    width: 50%;
  }
  .section__text__content {
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    text-align: left;
  }
  .section__text__h2 {
    width: 90%;
  }
  .section__text__p {
    margin-top: 1rem;
  }
  /**** Transform Section ****/
  #transform__section {
    display: flex;
    flex-direction: row-reverse;
  }
  .transform__section__img {
    background-image: url(/assets/desktop/image-transform.jpg);
  }
  .section__text--transform {
    text-align: left;
  }
  /**** Standout Section ****/
  #standout__section {
    display: flex;
  }
  .standout__section__img {
    background-image: url(/assets/desktop/image-stand-out.jpg);
  }
  .section__text--standout {
    text-align: left;
  }
  /**** Graphic Design Section ****/
  .subsection__content--graphicDesign {
    background-image: url(/assets/desktop/image-graphic-design.jpg);
    flex: 1;
  }
  .section__text__p--graphicDesign {
    width: 60%;
  }
  /**** Photography Section ****/
  .subsection__content--photography {
    background-image: url(/assets/desktop/image-photography.jpg);
    flex: 1;
    background-size: cover;
  }
  .section__text__p--photography {
    width: 60%;
  }
  /**** Testimonials Section ****/
  .testimonials__content {
    min-height: auto;
    width: 100%;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials {
    flex-direction: row;
  }
  .testimonial {
    height: 400px;
  }
  .testimonial:nth-last-child(1) {
    margin-bottom: 0;
  }
  /**** Gallery Section ****/
  .gallery__content {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery__grid--milk {
    background-image: url(/assets/desktop/image-gallery-milkbottles.jpg);
  }
  .gallery__grid--orange {
    background-image: url(/assets/desktop/image-gallery-orange.jpg);
  }
  .gallery__grid--cone {
    background-image: url(/assets/desktop/image-gallery-cone.jpg);
  }
  .gallery__grid--sugar {
    background-image: url(/assets/desktop/image-gallery-sugarcubes.jpg);
  }
  /**** Footer ****/
  .footer__logo {
    scale: 1.2;
  }
  .footer__links {
    width: 300px;
  }
  .footer__socials {
    width: 200px;
  }
}

@media screen and (min-width: 1536px) {
  .section__text__content {
    width: 100%;
  }
  /**** Transform Section ****/
  .transform__section__img {
    width: 35%;
  }
  /**** Standout Section ****/
  .standout__section__img {
    width: 35%;
  }
}
